<!-- login.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/pri/login/success" method="post" name='login'>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="userid" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="pass" required>
    </div>
    <button type="submit">Login</button>
</form>
<form action="/pri/login/join" method="post">
    <button type="submit">회원가입</button>
</form>
</body>
</html>