<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <h2 th:text="'안녕하세요.'+${model}"></h2>
        <form action="/spring/login" method='post' name='login'>
            <input type="text" nmae="userid" placeholder='사용자 ID 입력'>
            <input type="password" nmae="password" placeholder='사용자 password 입력'>
            <button>LOGIN</button>
        </form>

    <input type="hidden" th:value="${_csrf.token}"/> <!--th:name="${_csrf.param}"-->
</body>
</html>